:root {
    --color-background: #ffffff;
    --color-iris: #4d5ae5;
    --color-background-btn: #404bbf;
    --color-background-main: #2e2f42;
    --color-main: #434455;
    --color-cloud: #f4f4fd;
    --color-corn: #E7E9FC;
    --color-light-gray: #8E8F99;
    --color-emerald: #31D0AA;
}

body {
    color: var(--color-main);
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

ul, li, h3, h2, h1, p{
    margin: 0;
    padding: 0;
}

/* header */

header {
    border-bottom: 1px solid var(--color-corn);
    background-color: var(--color-background);
}

.header-container {
    display: flex;
    justify-content: space-between; 
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-contact-item {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-logo {
    display: flex;
    margin-right: 76px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
}

.header-item {
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-background-main);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:is(:hover, :focus) {
    color: var(--color-background-btn);
}

.header-contact {
    display: flex;
}

.header-contact-list {
}

.header-contact-list:not(:last-child) {
    margin-right: 40px;
}

.header-contact-itm {
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);
    
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-itm:is(:hover, :focus) {
    color: var(--color-background-btn);
}

span {
    color: var(--color-background-main);
    text-decoration: none;
}

.active-menu {
    position: relative;
    color: var(--color-background-btn);
}

.active-menu::after {
    top: 45px;
    position: absolute;
    border-bottom: 4px solid var(--color-background-btn);
    display: block;
    content: '';
    width: 100%;
    border-radius: 2px;
}

/* header */

/* order */

.order {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;

    background-color: var(--color-background-main);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg) ;
    
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
}

.order-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-background);

    width: 496px;
    margin: 0 auto;
}

.order-btn {
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    text-align: center;
    margin-top: 48px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--color-iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-background);
    cursor: pointer;

    background: #4D5AE5;
    background-color: var(--color-iris);
}

.order-btn:is(:hover, :focus) {
    background-color: var(--color-background-btn);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px;

    min-width: 408px;

    background-color: #ffffff;
    border-radius: 4px;
}

.order-modal-close {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-corn);
    border-radius: 50%;

    width: 24px;
    height: 24px;

    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
}

.order-modal-close:is(:hover, :focus) {
    background-color: var(--color-background-btn);
    fill: var(--color-background);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* order */

/* Form */

/* .form-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;
    margin: 0 auto;
} */

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-background-main);
    margin-bottom: 16px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field:not(:last-child) {
    margin-bottom: 8px;
}

.comment-field {
    margin-bottom: 8px;
}

.form-field label {
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.form-field label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-light-gray);
}

.form-field input {
    border: none;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 42px;
    border-radius: 4px;
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.form-field svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    fill: var(--color-background-main);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.form-field input:focus {
    border: 1px solid var(--color-iris);
}

.form-field input:focus + svg {
    fill: var(--color-iris);
}

.form-field textarea {
    width: 360px;
    height: 120px;
    resize: none;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 8px;
    padding-left: 16px;
}

.form-field textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-field textarea:focus {
    border: 1px solid var(--color-iris);
}

.checkbox-field {
    margin-bottom: 24px;
}

.checkbox-field label {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.checkbox-field input {
    cursor: pointer;
    margin-right: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
    background-color: var(--color-background-btn);
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.checkbox-field p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-light-gray);
}

.checkbox-field a {
    margin-left: 2px;
    color: var(--color-iris);
}

.form-btn {
    padding: 16px 32px;
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 169px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-background);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:is(:hover, :focus) {
    background-color: var(--color-background-btn);
}

/* Form */

/* features */

.features {
    
}   

.hidden-title {
}

.features-list {
    display: flex;
}

.features-item {
    max-width: calc((100% - 72px) / 4);
}

.features-item:not(:last-child) {
    margin-right: 24px;
}

.features-subtitle {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-background-main);
}

.features-item-text {
    max-height: 72px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);
}

.features-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 112px;
    background-color: var(--color-cloud);
    border-radius: 4px;

    margin-bottom: 8px;
}

.features-icon {

}


/* features */

/* about */

.about {
    padding-bottom: 120px;
}

.about-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-background-main);
    text-align: center;
}

.about-list {
    display: flex;
    margin-top: 72px;
}

.about-img {
}

.about-item {

}

.about-item:not(:last-child) {
    margin-right: 24px;
}

/* about */

/* team */

.team {
    background-color: var(--color-cloud);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-background-main);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
}

.team-list-item {
    background-color: var(--color-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
    margin-right: 24px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-background-main);

    text-align: center;
    margin-bottom: 8px;
}

.team-list-cover {
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);

    text-align: center;
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.icon-list-item {
}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:is(:hover, :focus) {
    background-color: var(--color-background-btn);
}

.link-icon {
    fill: var(--color-cloud);
    
}

/* team */

/* Customers */

.customers {
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-background-main);

    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
    
}

.customers-item {
    width: calc((100% - 120px) / 6);
    
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: var(--color-light-gray);
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
}

.company-icon {
    color: currentColor;
}

.customers-link:is(:hover, :focus) {
    border: 1px solid var(--color-background-btn);
    fill: var(--color-background-btn);
    color: var(--color-background-btn);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Customers */

/* footer */

.footer {
    background-color: var(--color-background-main);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    
}

.footer-wrapper {
    width: 264px;
    
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
}


.footer-logo-span {
    color: var(--color-cloud);
}

.footer-text {
    line-height: 1.5;
    margin-top: 18px;
    color: var(--color-cloud);
}

.footer-social {
    margin-left: 120px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-background);

    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-icon-item {
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:is(:hover, :focus) {
    background-color: var(--color-emerald);
}

.footer-icon {
    fill: var(--color-cloud);
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe p {
    display: block;
    text-align: left;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-background);
}

.footer-subscribe input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding-left: 16px;

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--color-background);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe input:focus {
    border: 1px solid var(--color-iris);
}

.footer-subscribe input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--color-background);
}

.footer-subscribe button {
    background-image: url(../images/subscribe.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;

    padding: 8px 64px 8px 24px;

    margin-left: 22px;
    border: none;
    background-color: var(--color-iris);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-background);
    cursor: pointer;
}

.footer-subscribe button:is(:hover, :focus) {
    background-color: var(--color-background-btn);
}

.footer-form {
    display: flex;
}

/* footer */

/* portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list-btn {
    display: flex;
    justify-content: center;
}

.portfolio-item-btn {
    
}

.portfolio-item-btn:not(:last-child) {
    margin-right: 24px;
}

.portfolio-btn {
    border: 1px solid var(--color-corn);
    border-radius: 4px;
    background-color: var(--color-cloud);
    padding: 12px 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    cursor: pointer;

}

.portfolio-btn:is(:hover, :focus) {
    background-color: var(--color-background-btn);
    color: var(--color-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid var(--color-background-btn);
}

.portfolio-list {
    margin-top: 72px;
    flex-wrap: wrap;
    display: flex;
}

.portfolio-link {
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
    margin-bottom: 48px;
    margin-right: 24px;
}


.portfolio-item:nth-child(7) {
    margin-bottom: 0;
}

.portfolio-item:nth-child(8) {
    margin-bottom: 0;
}

.portfolio-item:nth-child(9) {
    margin-bottom: 0;
}

.portfolio-item:nth-child(3) {
    margin-right: 0;
}

.portfolio-item:nth-child(6) {
    margin-right: 0;
}

.portfolio-item:nth-child(9) {
    margin-right: 0;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-background-main);

    margin-bottom: 8px;
}

.portfolio-text {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);
}


.portfolio-link {
}

.portfolio-item-text {
    border: 1px solid var(--color-corn);
    border-top: none;
}


.portfolio-img-list {
    display: block;
}

.portfolio-item-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.img-hover {
    position: relative;
    overflow: hidden;
}

/* .img-hover::before {
    display: inline-block;
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .img-hover::before {
    transform: translateY(0);
} */

.img-hover-text {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    background-color: var(--color-iris);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:is(:hover, :focus) .img-hover-text {
    transform: translateY(0);
}



/* portfolio */